{% extends "base.html" %}

{% block title %} FoodAI {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {{ bootstrap.load_js() }}

    <div style="position:relative;" class="container-sm mb-4">  
        <h2>FoodAI</h2>

        <img src = "{{banner_image}}" class="img-fluid">

        <div style="position:absolute;
            width:50%;
            background-color:rgba(255, 255, 255, 0.632);
            color:rgba(255, 255, 255, 0.916);
            top: 100px;
            bottom:50px;
            left:100px;
            padding-left:20px;
            padding-right:20px;
            padding-bottom:20px;
            padding-top:50px;
            font-size:17px;
            z-index:2;">

            <h3 style ="color:rgb(50, 33, 33)">Find A Recipe</h3>

            <!-- search box -->
            <div>
                <form action="{{ url_for('search') }}" method="post">
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" type="search" name="search_query" id="search_query">
                        <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>

                {% if data %}
                <form action="{{ url_for('detail') }}" method="get">
                    <label for="id" style ="color:rgb(50, 33, 33)">Found many results for your search. Choose one:</label>
                    <div class="input-group">
                        <select class="form-select" name="id" id="id">
                        {% for name, id in data.items() %}
                            <option value="{{ url_for('detail', id=id) }}">{{ name }}</option>
                        {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="submit">View Details</button>
                    </div>
                </form>
                {% else %}
                {% if search %}
                <div><p>No results found</p></div>
                {% endif %}
                {% endif %}
                </div>
        </div> 
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}