{% extends "base.html" %}

{% block title %} Image Upload {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container" style="padding-left: 10px; padding-right: 10px;">
        <h2>Image Upload</h2>
        <form method='post' enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for error in form.photo.errors %}
                <span style="color:red;"> {{ error }}</span>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    {{ form.photo(class="form-control") }}
                </div>
                <div class="col-auto">
                    {{ form.submit(class="btn btn-successs") }}
                </div>
            </div>
        </form>
    
        {% if file_url %}
        <div class="mt-5">
            <img src="{{ file_url }}" style="width:400px;">
        </div>
        {% endif %}
        {% if labels %}
        <h1>{{ labels[0] }}</h1>
        {% endif %}
    </div>
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}