<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/eea0a5e16b.js" crossorigin="anonymous"></script>

    <title>Home</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
</head>

<body>
    {% include 'includes/navigation.html' %}
    <h1>Login</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <a href="{{url_for('register')}}">Don't have an account? SignUp</a>
</body>


</html>